<form action="/mahasiswa/insert" method="post">
	<div>
		<label for ="name">Name:</label>
		<input type="text" name="name"/>
	</div>
	<div>
		<label for="age">Age</label>
		<input type="text" name="age"/>
	</div>

	<div class="button">
		<button type="submit">send your messege</button>
	</div>

</form>

<div>
	<ul>
		{{#each data}}
			<li>{{name}}-{{age}}</li>
		{{/each}}
	</ul>
</div>