<html>
  <head>
    <title>Judul</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
  </head>

  <body>
 
    {{{body}}}

  </body>
</html>










